* {
	box-sizing: border-box;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
}
body{
  font-family: 'Playfair Display', serif;
  text-align: center;
  background-color: #ffce00;
}
h1{
  color:#0375B4;
  margin-top: 30px;
}
h3{
  color:#007849;
}
button {
    height:60px;
    width: 150px;
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor:pointer;
    outline: 0;
    border: 2px solid white;
    background: #ffce00;
    color:#0375B4;
    transition: border-color 0.6s, color 0.2s;
}
#gameBoard {
    width: 90%;
    height: 400px;
    margin-left: 5%;
    background-color: #007849;
  }
#results {
	border: 10px solid #262228;
	height: 70%;
	width: 100%;
  color: #262228;
}
